/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *::after, *::before{
	box-sizing: border-box;
}

.wrap{
	max-width: 1200px;
	margin: 0 auto;
}

img{
	vertical-align: middle;
}

.mb-1{
	margin-bottom: 8px;
}

.mb-2{
	margin-bottom: 16px;
}

.mb-3{
	margin-bottom: 24px;
}

.mb-6{
	margin-bottom: 48px;
}

.mb-9{
	margin-bottom: 72px;
}

.pb-1{
	padding-bottom: 8px;
}

.pt-3{
	padding-top: 24px;
}

.ml-2{
	margin-left: 16px;
}

.ml-3{
	margin-left: 24px;
}

.text-center{
	text-align: center;
}

body{
	font-size: 24px;
	line-height: 36px;
}

h1{
	font-size: 80px;
	line-height: 106px;
	border-bottom: 2px solid #000;
	padding-bottom: 3px;
}

.title{
	font-size: 32px;
	line-height: 43px;
	border-bottom: 1px solid #000;
	display: flex;
	align-items: center;
}

.subtitle{
	color: #A00404;
	font-size: 24px;
	line-height: 43px;
	display: block;
}

.bgDark{
	background: #415165;
	padding-bottom: 36px;
	color: #fff;
}

.titleDark{
	border-bottom: 1px solid #fff;
	justify-content: center;
}

.subtitleDark{
	color: #fff;
}

.skillList{
	margin-top: 37px;
	width: 213px;
	margin: 37px auto 0 auto;
	border-left: 1px solid #96A9C4;
}

.skillList li{
	padding-left: 16px;
}

.workList{
	width: 667px;
	border-left: 1px solid #96A9C4;
}

.workList li{
	padding-left: 24px;
}

.workList li p{
	font-size: 20px;
	line-height: 30px;
}

.contactList{
	margin-top: 32px;
}

.contactList li a{
	color: #fff;
	text-decoration: none;
}

.contactList li a:hover{
	color: yellow;
}

.social{
	display: flex;
	width: 192px;
	margin: 0 auto;
}

.social a{
	display: block;
	width: 48px;
}

.social a i{
	font-size: 48px;
	vertical-align: middle;
}

.social a i:hover{
	color: yellow;
}